[Unit]
Description=droid-wlan-up
DefaultDependencies=no
Conflicts=shutdown.target
After=droid-late-start.service persist.mount firmware.mount pds.service system.mount
Requires=persist.mount firmware.mount pds.service system.mount
Before=network.target wpa_supplicant.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/load-wlan
ExecStop=/usr/bin/droid/unload-wlan

[Install]
WantedBy=network.target